extends ../templates/template.pug
include ../components/topnav.pug
include ../components/frame.pug

block content
      +topnav(page)
      block gallery
      .gallery
        each fairyTale, i in fairyTales
          +frame(fairyTale)
        else
          h1 No fairytales match the current criteria!

append head
    title= title