include ../components/topnav.pug
include ../components/frame.pug

doctype html

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  base(href='/')
  link(rel='stylesheet' type="text/css" href='stylesheets/root.css')
  link(rel='stylesheet' type="text/css" href='stylesheets/topnav.css')
  link(rel='stylesheet' type="text/css" href='stylesheets/gallery.css')
  link(rel='stylesheet' type="text/css" href='stylesheets/viewer.css')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  title document
  block head

body
  block content