mixin frame(fairyTale)
    a(href='/fairytales/' + fairyTale.id).frame
        div
            img(src=fairyTale.image alt=fairyTale.title)
            h1= fairyTale.title
            h3= 'B' + fairyTale.class