mixin topnav(buttonHighLight)
  div.topnav(id="topnav")
      a(href='.' class=(buttonHighLight === 1) ? 'active':null) Home
      a(href='/b2' class=(buttonHighLight === 2) ? 'active':null) B2
      a(href='/b3' class=(buttonHighLight === 3) ? 'active':null) B3
      a(href='/b4' class=(buttonHighLight === 4) ? 'active':null) B4
      a(href='/fairytales' class=(buttonHighLight === 5) ? 'active':null) ALL
      .search-container
        form(action='/search' method="post")
          input(type='text' placeholder='Search..' name='q')
          input(type='hidden' name='b2' value='true')
          input(type='hidden' name='b3' value='true')
          input(type='hidden' name='b4' value='true')
          button(type='submit')
            i.fa.fa-search
      a(href="javascript:void(0);" class="icon" onclick="toggleIcon()")
        i(class="fa fa-bars")
      script.
        function toggleIcon() {
          var topnav = document.getElementById("topnav");
          if (topnav.className === "topnav") {
            topnav.className += " responsive";
          } else {
            topnav.className = "topnav";
          }
        }



      